@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD


/* Integral CF Regular */
@import url("https://db.onlinewebfonts.com/c/f1fcc5aed1e20fc0cdb9f8a7573625bd?family=Integral+CF+Regular");
/* Campton */
@import url("https://fonts.cdnfonts.com/css/campton");
/* Gotham */
@import url("https://fonts.cdnfonts.com/css/gotham-6");

=======
>>>>>>> 78efa5ac11c7bb33460b175646c211ad9d6f3765
/* Основной текст */
@font-face {
  font-family: "TT Interfaces";
  src: url("../fonts/FontsFree-Net-TTInterfaces-Light-1.ttf") format("truetype");
}

<<<<<<< HEAD
img {
  width: "auto";
  height: "auto";
  /* Other styles */
}

=======
/* Integral CF Regular */
@import url("https://db.onlinewebfonts.com/c/f1fcc5aed1e20fc0cdb9f8a7573625bd?family=Integral+CF+Regular");
/* Campton */
@import url("https://fonts.cdnfonts.com/css/campton");
/* Gotham */
@import url("https://fonts.cdnfonts.com/css/gotham-6");
>>>>>>> 78efa5ac11c7bb33460b175646c211ad9d6f3765

html,
body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace, "sans-serif";
  overflow-x: hidden;
}

/* width */
.select-dropdown::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.select-dropdown::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.select-dropdown::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 1px;
}

.items-wrap {
  display: flex;
  overflow: hidden;
  gap: 40px;
}

.items {
  flex-shrink: 0;
  display: flex;
  gap: 40px;
  min-width: 100%;
  align-items: center;
  justify-content: space-around;
}

.items > div {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 50%;
}

.marquee {
  animation: scroll 100s linear infinite;
}
.reverse {
  animation-direction: reverse;
}

.items-wrap .text-6xl,
.items-wrap .text-5xl {
  color: rgba(255, 255, 255, 0.1); /* Цвет букв */
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 1); /* Обводка букв */
  text-stroke: 1px rgba(255, 255, 255, 1); /* Обводка букв для не-WebKit браузеров */
}

.items-wrap .text-xs {
  color: rgba(255, 255, 255, 0.2);
}

.rotate > span {
  transform: rotate(180deg);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
