@font-face {
  font-family: "TT Interfaces";
  src: url("TTInterfaces-SemiBold.eot");
  src: local("TT Interfaces SemiBold"), local("TTInterfaces-SemiBold"),
    url("TTInterfaces-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("TTInterfaces-SemiBold.woff2") format("woff2"),
    url("TTInterfaces-SemiBold.woff") format("woff"),
    url("TTInterfaces-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TT Interfaces";
  src: url("TTInterfaces-Medium.eot");
  src: local("TT Interfaces Medium"), local("TTInterfaces-Medium"),
    url("TTInterfaces-Medium.eot?#iefix") format("embedded-opentype"),
    url("TTInterfaces-Medium.woff2") format("woff2"),
    url("TTInterfaces-Medium.woff") format("woff"),
    url("TTInterfaces-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Interfaces";
  src: url("TTInterfaces-Bold.eot");
  src: local("TT Interfaces Bold"), local("TTInterfaces-Bold"),
    url("TTInterfaces-Bold.eot?#iefix") format("embedded-opentype"),
    url("TTInterfaces-Bold.woff2") format("woff2"),
    url("TTInterfaces-Bold.woff") format("woff"),
    url("TTInterfaces-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Interfaces";
  src: url("TTInterfaces-Light.eot");
  src: local("TT Interfaces Light"), local("TTInterfaces-Light"),
    url("TTInterfaces-Light.eot?#iefix") format("embedded-opentype"),
    url("TTInterfaces-Light.woff2") format("woff2"),
    url("TTInterfaces-Light.woff") format("woff"),
    url("TTInterfaces-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TT Interfaces";
  src: url("TTInterfaces-Regular.eot");
  src: local("TT Interfaces Regular"), local("TTInterfaces-Regular"),
    url("TTInterfaces-Regular.eot?#iefix") format("embedded-opentype"),
    url("TTInterfaces-Regular.woff2") format("woff2"),
    url("TTInterfaces-Regular.woff") format("woff"),
    url("TTInterfaces-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Interfaces";
  src: url("TTInterfaces-Black.eot");
  src: local("TT Interfaces Black"), local("TTInterfaces-Black"),
    url("TTInterfaces-Black.eot?#iefix") format("embedded-opentype"),
    url("TTInterfaces-Black.woff2") format("woff2"),
    url("TTInterfaces-Black.woff") format("woff"),
    url("TTInterfaces-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
