.items-wrap {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
}

.items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  min-width: 100%;
}

.item {
  font-weight: bold;
}

.marquee {
  animation: scroll 100s linear infinite;
}
.reverse {
  animation-direction: reverse;
}

.items-wrap .text-5xl {
  color: rgba(255, 255, 255, 0.1); /* Цвет букв */
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 1); /* Обводка букв */
  text-stroke: 1px rgba(255, 255, 255, 1); /* Обводка букв для не-WebKit браузеров */
}

.items-wrap .text-xs {
  color: rgba(255, 255, 255, 0.2);
}

.rotate > span {
  transform: rotate(180deg);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
