.items-wrap {
  display: flex;
  overflow: hidden;
  user-select: none;
}

.items {
  flex-shrink: 0;
  display: flex;
  gap: 40px;
  min-width: 100%;
  align-items: center;
  justify-content: space-around;
}

.items > div {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 50%;
  margin-top: 11px;
}

.marquee {
  animation: scroll 100s linear infinite;
}
.reverse {
  animation-direction: reverse;
}

.items-wrap .text-6xl {
  color: rgba(255, 255, 255, 0.1); /* Цвет букв */
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 1); /* Обводка букв */
  text-stroke: 1px rgba(255, 255, 255, 1); /* Обводка букв для не-WebKit браузеров */
}

.items-wrap .text-xs {
  color: rgba(255, 255, 255, 0.2);
}

.rotate > span {
  transform: rotate(180deg);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
