.img {
  animation-name: move;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes move {
  0% {
    transform: translate3d(0, -8px, 0);
  }

  to {
    transform: translate3d(0, 8px, 0);
  }
}
